.intro {
  max-width: 640px;
  margin-bottom: 2em;
  margin-inline: auto;

  /* svg {
    width: 40px;
    float: left;
    margin-inline-end: 0.5em;
  } */

  p {
    font-style: italic;
    font-size: 1.4em;
    line-height: 1.7;

    @media (max-width: 640px) {
      font-size: 1.1em;
    }
  }
}
