:root {
  --color-vintage-paper: #feefce;
  --color-vintage-ink: #2d3539;
  --color-vintage-ink-reverse: #f5deb3;
  --color-link: #1c63b2;
  --margin-glid-line: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  border-color: var(--color-vintage-ink);
  font-family: serif;
  font-size: 16px;
  color: var(--color-vintage-ink);
}

body {
  background-color: var(--color-vintage-paper);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.globalHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslategrey;

  .container {
    display: flex;
    justify-content: center;
    @media (max-width: 640px) {
      display: block;
    }
  }

  .logo {
    display: inline-block;
    padding: 1em;
    line-height: 1;
  }

  .logomark {
    width: 30px;
    fill: gold;
  }

  nav {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 0.5em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    top: 0;
    margin-block: auto;
    align-items: center;

    a {
      font-size: 1em;
      font-weight: 100;
      font-family: "Stoke", serif;
      color: gold;

      &:not(:last-child)::after {
        content: "/";
        margin-left: 1em;
        font-size: 0.5em;
      }
    }
  }
}

.globalFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslategrey;
  color: gold;
  text-align: center;

  .logomark {
    fill: gold;
  }
}

.globalHeading {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-vintage-ink);
}

.globalHeadingBody {
  margin-block: var(--margin-glid-line);
  text-align: center;
  border-inline: 1px solid var(--color-vintage-ink);
  padding: 1em;

  h1 {
    font-size: 1em;
  }
}

.container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
}

.content {
  padding: 3em;
  margin-block: var(--margin-glid-line);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-inline: 1px solid var(--color-vintage-ink);
  @media (max-width: 640px) {
    padding: 1.5em;
  }
}

.bold {
  font-weight: bold;
}

.clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.externalLink {
  display: inline;
  text-decoration: underline;
  color: var(--color-link);
  word-break: break-all;

  &::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/ui/external.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
}

.bg-grid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgb(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 30px 30px;
}
