---
import Layout from "../../layouts/Layout.astro";
import InfiniteScroll from "../../components/InfiniteScroll";
import Promotion from "../../components/Promotion";
import db from "../../../staticql.config.ts";
import List from "../../components/List";
import Breadcrumb, { type BreadcrumbProps } from "../../components/Breadcrumb";

const initialReports = (
  await db.from("reports").join("herbs").options({ indexMode: "only" }).exec()
).map((report) => ({
  id: report.reportGroupSlug + report.slug,
  displayName: `Report ${report.slug}`,
  link: `/reports/${report.reportGroupSlug}`,
  content: report.summary || "No content available",
  updatedAt: report.updatedAt,
}));

const breadCrumbItems: BreadcrumbProps["items"] = [
  { label: "Home", link: "/" },
  { label: "ハーブの使い方・レポート一覧" },
];
---

<Layout>
  <div class="flex justify-center border-b-1">
    <div class="c-content my-1 text-center border-x border-vintage-ink">
      <Breadcrumb items={breadCrumbItems} />

      <h1 class="font-bold">ハーブの使い方・レポート一覧</h1>
    </div>
  </div>
  <section
    class="c-content grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 sm:gap-10 p-6 sm:p-10 my-1 border-x border-vintage-in"
  >
    <List items={initialReports} />
    <Promotion />
  </section>
</Layout>
