---
import Layout from "../../layouts/Layout.astro";
import List from "../../components/List";
import InfiniteScroll from "../../components/InfiniteScroll";
import db from "../../../staticql.config.ts";

const initialReports = (
  await db.from("reports").join("herbs").options({ indexMode: "only" }).exec()
).map((report) => ({
  id: report.reportGroupSlug + report.slug,
  displayName: `Report ${report.slug}`,
  link: `/reports/${report.reportGroupSlug}`,
  content: report.summary || "No content available",
  updatedAt: report.updatedAt,
}));

---

<Layout>
  <div class="flex justify-center border-b-1">
    <div class="c-content my-1 text-center border-x border-vintage-ink">
      <nav class="text-xs text-gray-600" aria-label="パンくずリスト">
        <ol class="flex flex-wrap items-center justify-center">
          <li>
            <a href="/" class="underline text-link">Home</a>
          </li>
          <li
            class="before:content-['›'] before:mx-2 before:text-gray-400"
            aria-current="page"
          >
            ハーブの使い方・レポート一覧
          </li>
        </ol>
      </nav>
      <h1 class="font-bold">ハーブの使い方・レポート一覧</h1>
    </div>
  </div>
  <section
    class="c-content grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 sm:gap-10 p-6 sm:p-10 my-1 border-x border-vintage-in"
  >
    <List items={initialReports} />
    <!-- <InfiniteScroll client:load /> -->
  </section>
</Layout>
