---
import Layout from "../layouts/Layout.astro";
import Seo from "../components/Seo.astro";
import { Content as Privacy } from "../content/pages/privacy.md";
import { Content as Term } from "../content/pages/term.md";
import "../styles/about.css";
import Breadcrumb, { type BreadcrumbProps } from "../components/Breadcrumb";

const breadcrumb: BreadcrumbProps = {
  items: [
    { label: "Cauldi", link: `${Astro.site}` },
    { label: "About - このサイトについて", link: `${Astro.site}about` },
  ],
};
---

<Layout>
  <Seo
    slot="head"
    title="Cauldi | About - このサイトについて"
    description="Cauldi（コールディ）は、ハーブの期待される効能や使い方を丁寧にまとめ、五感で楽しむための情報と体験レポートを発信するハーブ専門サイトです。"
    url=`${Astro.site}about`
    ldJson={{
      "@context": "https://schema.org",
      "@type": "WebSite",
      name: "Cauldi",
      url: `${Astro.site}about`,
    }}
  />

  <div class="globalHeading">
    <div class="globalHeadingBody container">
      <Breadcrumb items={breadcrumb["items"]} />

      <h1 class="bold">About - このサイトについて</h1>
    </div>
  </div>

  <div class="content container">
    <section class="intro">
      <p>
        <strong>Cauldi（コールディ）</strong
        >は、ハーブのある暮らしをもっと身近に、もっと深く楽しむための情報サイトです。
      </p>

      <p>
        伝統的なハーブの知識から、近年の研究により期待される効能、活用法、そして実際に飲んでみた感想やレポートまで、
        できるだけ正確かつ丁寧に紹介しています。
      </p>

      <ul>
        <li>
          ハーブを「五感で楽しむ」こと、「生活に取り入れる」こと、「学び続ける」こと、の３つを方針として運営しています。
        </li>
        <li>
          サイトに掲載している情報は、医療的アドバイスや治療を目的としたものではありません。健康上の判断は必ず専門家にご相談ください。
        </li>
      </ul>

      <p>
        ご感想や誤情報のご指摘、コラボレーションのご相談なども歓迎しています。
      </p>

      <hr />

      <p>
        <strong>お問い合わせはこちら：</strong>
        <a href="mailto:info@cauldi.com">info@cauldi.com</a>
      </p>
    </section>

    <section>
      <h2>利用規約</h2>
      <article class="term">
        <Term />
      </article>
    </section>

    <section>
      <h2>プライバシーポリシー</h2>
      <article class="privacy">
        <Privacy />
      </article>
    </section>
  </div>
</Layout>
