---
import { Image } from "astro:assets";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1 class="p-2 border-b border-black text-center font-bold">POSTS</h1>
  <nav
    class="flex justify-around p-2 border-b border-black text-center font-bold"
  >
    <span>SPECIES</span>
    <span>REPORT</span>
  </nav>

  <!-- <section class="p-[3rem] space-y-[3rem]"> -->
  <section
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-12 p-[3rem]"
  >
    <div
      class="relative flex flex-col items-center pb-2 outline-2 outline-black outline-offset-2 border border-black"
    >
      <div class="date-view p-1">
        <time datetime="2025-03-21">
          <span>03</span>
          <span>21</span>
        </time>
      </div>

      <h2 class="p-2 mb-2 w-[90%] border-b border-black text-sm text-center">
        dsjiid jdisjsi deaos
      </h2>
      <Image
        src="/ui/001.png"
        alt="a"
        width="400"
        height="300"
        class="my-4 scale-110 object-cover overflow-visible h-80 w-auto"
      />
      <strong class="my-2 text-sm leading-[1]">基本情報</strong>
      <p class="px-2 line-clamp-3 text-xs">
        ギシギシは、畑などに自生する背の高い雑草で、ハーブや薬草として食べることができる植物です。根が強く、抜いてもすぐに生えてくるため、駆除が難しいことがあります。ギシギシは、北海道から沖縄まで広く分布しており
      </p>
    </div>

    <div
      class="relative flex flex-col items-center pb-2 outline-2 outline-black outline-offset-2 border border-black"
    >
      <div class="date-view p-1">
        <time datetime="2025-03-21">
          <span>03</span>
          <span>21</span>
        </time>
      </div>

      <h2 class="p-2 w-[90%] border-b border-black text-sm text-center">
        dsjiid jdisjsi deaos
      </h2>
      <Image
        src="/ui/002.png"
        alt="a"
        width="400"
        height="300"
        class="my-4 scale-110 object-cover overflow-visible h-80 w-auto"
      />
      <strong class="my-2 text-sm leading-[1]">基本情報</strong>
      <p class="px-2 line-clamp-3 text-xs">
        ギシギシは、畑などに自生する背の高い雑草で、ハーブや薬草として食べることができる植物です。根が強く、抜いてもすぐに生えてくるため、駆除が難しいことがあります。ギシギシは、北海道から沖縄まで広く分布しており
      </p>
    </div>

    <div
      class="relative flex flex-col items-center pb-2 outline-2 outline-black outline-offset-2 border border-black"
    >
      <div class="date-view p-1">
        <time datetime="2025-03-21">
          <span>03</span>
          <span>21</span>
        </time>
      </div>

      <h2 class="p-2 w-[90%] border-b border-black text-sm text-center">
        dsjiid jdisjsi deaos
      </h2>
      <Image
        src="/ui/002.png"
        alt="a"
        width="400"
        height="300"
        class="my-4 scale-110 object-cover overflow-visible h-80 w-auto"
      />
      <strong class="my-2 text-sm leading-[1]">基本情報</strong>
      <p class="px-2 line-clamp-3 text-xs">
        ギシギシは、畑などに自生する背の高い雑草で、ハーブや薬草として食べることができる植物です。根が強く、抜いてもすぐに生えてくるため、駆除が難しいことがあります。ギシギシは、北海道から沖縄まで広く分布しており
      </p>
    </div>
  </section>
</Layout>
