---
import { Image } from "astro:assets";
import InfiniteScroll from "../components/InfiniteScroll";
import Layout from "../layouts/Layout.astro";
import ListItem from "../components/ListItem";

let herbs = [
  {
    id: 1,
    name: "Herb 1",
    name_scientific: "ScientificName1",
    description: "Description for Herb 1",
  },
  {
    id: 2,
    name: "Herb 2",
    name_scientific: "ScientificName2",
    description: "Description for Herb 2",
  },
  {
    id: 3,
    name: "Herb 3",
    name_scientific: "ScientificName3",
    description: "Description for Herb 3",
  },
];
---

<Layout>
  <section
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-12 p-[3rem]"
  >
    {herbs.slice(0, 9).map((herb) => <ListItem item={herb} />)}

    <InfiniteScroll client:load />
  </section>
</Layout>
