---
import Layout from "../layouts/Layout.astro";
import List from "../components/List";
import InfiniteScroll from "../components/InfiniteScroll";
import db from "../../staticql.config.ts";

const initialHerbs = (await db.from("herbs").exec()).map((herb) => ({
  id: herb.slug,
  displayName: herb.name,
  link: `/herbs/${herb.slug}`,
  content: herb.overview,
  updatedAt: herb.updatedAt,
}));

const initialReports = (
  await db.from("reports").join("herbs").options({ indexMode: "only" }).exec()
).map((report) => ({
  id: report.reportGroupSlug + report.slug,
  displayName: `Report ${report.slug}`,
  link: `/reports/${report.reportGroupSlug}`,
  content: report.summary || "No content available",
  updatedAt: report.updatedAt,
}));
---

<Layout>
  <section
    class="c-content grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 my-1 p-7 border-x border-vintage-in"
  >
    <List items={[...initialHerbs, ...initialReports]} />
    <InfiniteScroll client:load />
  </section>
</Layout>
