---
import Layout from "../layouts/Layout.astro";
import List from "../components/List";
import InfiniteScroll from "../components/InfiniteScroll";
import { loadAllHerbs } from "../utils/loadHerbs";
import { loadAllReports } from "../utils/loadReports";

const initialHerbs = (await loadAllHerbs()).slice(0, 2).map((herb) => ({
  id: herb.slug,
  displayName: herb.name || herb.name,
  link: `/herbs/${herb.slug}`,
  content: herb.overview,
  updatedAt: herb.updatedAt,
}));

const initialReports = (await loadAllReports()).slice(0, 2).map((report) => ({
  id: report.id,
  displayName: `Report ${report.id}`,
  link: `/reports/${report.groupId || report.id}`,
  content: report.summary || "No content available",
  updatedAt: report.updatedAt,
}));
---

<Layout>
  <section
    class="c-content grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 my-1 p-7 border-x border-vintage-in"
  >
    <List items={[...initialHerbs, ...initialReports]} />
    <InfiniteScroll client:load />
  </section>
</Layout>
