.herbDecoration {
  position: relative;
  background-color: var(--color-vintage-paper);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 0.5em;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &::before {
    left: 0;
    border-left: 1px solid #000;
  }

  &::after {
    right: 0;
    border-right: 1px solid #000;
  }

  > div:first-child,
  > div:last-child {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: var(--color-vintage-paper);
    z-index: 2;
  }
  > div:first-child {
    border-top: 2px solid;
    border-bottom: 1px dashed;
  }
  > div:last-child {
    border-bottom: 2px solid;
    border-top: 1px dashed;
  }

  > div:first-child::before,
  > div:first-child::after,
  > div:last-child::before,
  > div:last-child::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--color-vintage-paper);
    border-radius: 80%;
    border: 1px solid var(--color-vintage-ink);
  }

  > div:first-child::before {
    top: -30px;
    left: -30px;
  }

  > div:first-child::after {
    top: -30px;
    right: -30px;
  }

  > div:last-child::before {
    bottom: -30px;
    left: -30px;
  }

  > div:last-child::after {
    bottom: -30px;
    right: -30px;
  }
}

.herbDecorationContent {
  display: flex;
  align-items: center;
  margin-block: 2rem;
  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 1rem;
  }

  > div {
    align-self: stretch;
    width: 100%;
    margin-block: 3px;
    padding: 3em;

    &:first-child {
      border-right: 1px solid;
      @media (max-width: 1024px) {
        border-right: 0;
        border-bottom: 1px solid;
        padding: 2em;
      }
    }

    &:last-child {
      border-left: 1px solid;
      @media (max-width: 1024px) {
        border-left: 0;
        border-top: 1px solid;
        padding: 2em;
      }
    }
  }

  h2 {
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
  }

  img {
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border: 1px solid;
    border-radius: 100%;
    margin: 1em;
  }
}

.herbDecorationLink {
  flex: 1;
  flex-basis: fit-content;
  max-width: 200px;
  text-align: center;
  width: 100%;
  border-color: var(--color-vintage-ink);
  color: var(--color-vintage-ink);
  @media (max-width: 784px) {
    max-width: 100%;
    min-height: 200px;
  }

  > div:nth-child(2) {
    padding: 2em;
    z-index: 1;

    span {
      font-weight: bold;
    }
  }

  p {
    font-size: 0.8em;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
    object-position: top;
    opacity: 0.2;
    filter: sepia(1);
    width: 100%;
  }
}
