.reportLinks {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
  padding-inline: 1em;

  a {
    color: var(--color-vintage-ink);
  }
}

.reportLinkCard {
  position: relative;
  display: flex;
  flex: 1;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  border: 1px solid;
  border-radius: 5px;
  @media (min-width: 640px) {
    max-width: 320px;
  }

  > div {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 0 0.2rem 0.19rem;
    justify-content: end;

    &::after {
      top: 0;
      right: -1px;
      content: "";
      position: absolute;
      height: 100%;
      border-right: 1px solid var(--color-vintage-ink);
    }

    > div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid;
      margin-bottom: 0.19rem;
      font-size: 0.8rem;
      font-weight: bold;

      p {
        margin-left: 1em;
      }
    }

    > div:last-child {
      color: var(--color-vintage-ink);
      border-radius: 0.2rem;
      padding: 0.2rem 0.5rem;

      > p:first-child {
        border-bottom: 1px dashed var(--color-vintage-ink);
        font-weight: bold;
        font-size: 0.8rem;
      }

      > p:last-child {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
  }

  > img {
    object-fit: contain;
    width: 64px;
    height: 64px;
  }
}
