---
import SearchInput from "../components/SearchInput";
import "../styles/global.css";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="flex gap-[1.5rem] bg-vintage">
    <div class="relative min-h-screen border-r-1 border-black max-w-5xl w-full">
      <p
        class="absolute h-full overflow-hidden -right-[1.5rem] whitespace-nowrap [writing-mode:vertical-rl]"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda eum
        libero deserunt aperiam nisi qui voluptas, molestiae odit possimus
        magnam sapiente nostrum dolore rerum dignissimos sunt quisquam
        cupiditate sint? Quod.
      </p>
      <header
        class="flex justify-between items-center border-b border-black bg-grid"
      >
        <a
          href="/"
          class="p-2 mx-4 bg-vintage text-7xl bold border border-black"
          >Cauldi</a
        >
        <div class="bg-vintage border-l border-black p-[50px]">
          <nav></nav>
          <SearchInput client:load />
        </div>
      </header>
      <main>
        <slot />
      </main>
    </div>
    <footer
      class="max-w-xs w-full flex flex-wrap items-center content-start gap-2 py-2"
    >
      <a class="c-footer-tag">Lorem</a>
      <a class="c-footer-tag">ipsum</a>
      <a class="c-footer-tag">dolor</a>
      <a class="c-footer-tag">sit</a>
      <a class="c-footer-tag">amet,</a>
      <a class="c-footer-tag">consectetur</a>
      <a class="c-footer-tag">adipisicing</a>
      <a class="c-footer-tag">elit.</a>
      <a class="c-footer-tag">Accusamus,</a>
      <a class="c-footer-tag">incidunt,</a>
      <a class="c-footer-tag">accusantium</a>
      <a class="c-footer-tag">earum</a>
      <a class="c-footer-tag">ab</a>
      <a class="c-footer-tag">eum</a>
      <a class="c-footer-tag">nobis</a>
      <a class="c-footer-tag">minus</a>
      <a class="c-footer-tag">maxime</a>
      <a class="c-footer-tag">cupiditate</a>
      <a class="c-footer-tag">laudantium</a>
      <a class="c-footer-tag">dolores</a>
      <a class="c-footer-tag">aut</a>
      <a class="c-footer-tag">mollitia</a>
      <a class="c-footer-tag">aperiam</a>
      <a class="c-footer-tag">facilis</a>
      <a class="c-footer-tag">placeat</a>
      <a class="c-footer-tag">vel</a>
      <a class="c-footer-tag">error</a>
      <a class="c-footer-tag">quos</a>
      <a class="c-footer-tag">neque</a>
    </footer>
  </body>
</html>
