---
import "../styles/global.css";
import LogoMark from "../assets/logomark.svg";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gravitas+One&family=Stoke:wght@300&display=swap"
      rel="stylesheet"
    />

    <slot name="head" />
  </head>
  <body>
    <header class="globalHeader">
      <div class="container">
        <a class="logo" href="/">
          <LogoMark class="logomark" />
        </a>
        <nav>
          <a href="/about/">About</a>
          <a href="/herbs/">Herbs</a>
          <a href="/reports/">Reports</a>
        </nav>
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer class="globalFooter">
      <div class="container content">
        <div>
          © 2025
          <LogoMark class="logomark" width={30} />
          Cauldi. All rights reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
